@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Macondo&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Macondo', cursive;
    background-color: #00001C;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Berkshire Swash', cursive;
}

li {
    list-style: none;
}

button {
    width: 50%;
    font-size: 1.2rem;
    border: 2px solid #000;
    color: #fff;
    background-color: #444;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}

button:hover{
    box-shadow: inset -4px 4px 0 #222;
    font-size: 1.1rem;
}


.container-1 {
    position: relative;
    width: auto;
    height: 45vh;
    display: flex;
}

.fundoBatalha {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    right: 20rem;
    z-index: -1;
}

.texto-apresentacao {
    text-align: center;
    width: 55vh;
    height: 100%;
    max-height: 45vh;
    color: #fff;
    background-color: #24365e;
    border-radius: 2rem;
    box-shadow: 0 0 10px 10px rgba(59, 94, 250, 0.5);
    position: absolute;
    margin: 10rem 2rem 0rem 3rem;
}

.texto-apresentacao .titulo{
    font-size: 3rem;
    margin-top: 1rem;
}

.texto-apresentacao .sub-titulo{
    font-size: 2.5rem;
}

.descricao{
    max-width: 90%;
    padding-left: 2rem;
}

.container-2 {
    margin: 3rem;
    margin-top: 12rem;
}

.container-2 .inimigos{
    color: #fff;
    font-size: 2rem;
}

.container-3{
    margin: 0rem;
    padding: 0rem;
}

.Minotauro, .Cerbero, .Elicius{
    background-color: aliceblue;
    margin: 3rem 5rem 0rem 0rem;
    width: 100%;
    height: 160vh;
    border-radius: 2rem;
}

.icone-Minotauro, .icone-Cerbero, .icone-Elicius {
    position: absolute;
    display: flex;
}

.img-icon-Minotauro, .img-icon-Cerbero, .img-icon-Elicius{
    width: 40vh;
    opacity: 70%;
    margin: 2rem;
    margin-left: 4rem;
}

.img-inimigo-Cerbero:hover,
.img-inimigo-Minotauro:hover,
.img-inimigo-Elicius:hover{
    transform: scale(1.1);
    transition: transform 0.3s;
}


.img-inimigo-Minotauro{
    width: 35vh;
    margin-left: 3rem;
}

.img-inimigo-Cerbero,
.img-inimigo-Elicius {
    width: 45vh;
    margin-top: 2rem;
    margin-left: 2rem;

}


.conteudo-Minotauro, .conteudo-Cerbero, .conteudo-Elicius{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.imagem-Minotauro, .imagem-Cerbero, .imagem-Elicius {
    position: relative;
    margin-right: 10px;
}


.texto-inimigo {
    text-align: center;
    margin-top: 1rem;
    color: #000;
}

.nome-boss{
    margin-top: 2rem;
    font-size: 2rem;
}


.texto-inimigo .descricao-boss {
    display: block;
    margin: 3rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    text-align: justify;
    max-width: 90%;
}


.dificuldade-boss-Facil{
    background-color: #9fe29f;
    border-radius: .4rem;
    font-size: 1.5rem;
    padding: .4rem;
}

.dificuldade-boss-Medio{
    background-color: #e6e950;
    border-radius: .4rem;
    font-size: 1.5rem;
    padding: .4rem;
}

.dificuldade-boss-Dificil{
    background-color: #e96250;
    border-radius: .4rem;
    font-size: 1.5rem;
    padding: .4rem;
}

@media screen and (min-width: 320px) and (max-width: 424px) {
    .container-1 {
        width: 45rem;
        height: 55vh;
    }

    .texto-apresentacao {
        margin: 12rem 1.5rem;
        height: 80vh;
    }

    .texto-apresentacao .titulo{
        font-size: 1.5rem;
        margin-top: .7rem;
    }

    .texto-apresentacao .sub-titulo{
        font-size: 1.4rem;
    }

    .container-1 button{
        font-size: 1rem;
    }

    .container-2 {
        margin: 2rem;
        margin-top: 12rem;
    }

    .container-2 .inimigos{
        width: 110vh;
        max-width: 70%;
    }

    .Minotauro, .Cerbero, .Elicius{
        height: 155vh;
    }

    .img-icon-Minotauro, .img-icon-Cerbero, .img-icon-Elicius{
        width: 40vh;
        margin: 1rem;
        margin-top: 4rem;
    }

    .img-inimigo-Minotauro{
        width: 35vh;
        margin: 1rem;
    }

    .texto-inimigo .descricao-boss {
        font-size: 1rem;
    }

    .img-icon-Cerbero,
    .imagem-Elicius{
        margin: 2rem 2rem;
    }

    .img-inimigo-Cerbero {
        width: 40vh;
        margin: 3rem 1rem;
    }

    .imagem-Elicius{
        margin: 0rem;
        margin-left: 2rem;
    }

    .img-inimigo-Elicius {
        width: 40vh;
        margin: 2rem 0rem;
    }

    .nome-boss{
        margin-top: 0rem;
    }
}


@media screen and (min-width: 768px) {

    .container-1 {
        height: auto;
    }

    .fundoBatalha {
        max-width: 100%;
        width: 130vh;
        height: 60vh;
    }

    .texto-apresentacao {
        text-align: center;
        width: auto;
        height: 100%;
        max-height: 40vh;
        margin: 12rem 25%;
    }

    .texto-apresentacao .titulo{
        font-size: 2rem;
        margin-top: 1rem;
    }

    .texto-apresentacao .sub-titulo{
        font-size: 1.5rem;
    }

    .descricao{
        max-width: 90%;
        padding-left: 2rem;
    }


    .container-2 {
        margin: 4rem;
        margin-top: 9rem;
    }

    .Minotauro, .Cerbero, .Elicius{
        height: 130vh;
    }

    .img-icon-Minotauro, .img-icon-Cerbero, .img-icon-Elicius{
        width: 50vh;
        margin: 2rem 10rem;
    }

    .img-inimigo-Minotauro{
        width: 40vh;
        margin: 1rem 10rem;
    }

    .img-inimigo-Cerbero,
    .img-inimigo-Elicius {
        width: 52vh;
        margin: 1rem 10rem;
    }

    .nome-boss{
        margin-top: 0rem;
    }
}

@media screen and (min-width: 1024px) {

    .container-1 {
        height: auto;
    }


    .fundoBatalha {
        max-width: 100%;
        width: 180vh;
        height: 60vh;
    }


    .Minotauro, .Cerbero, .Elicius{
        height: 105vh;
        display: flex;
        align-items: flex-start;
        padding: 2rem;
    }


    .img-icon-Minotauro{
        margin: 6rem 2rem;
    }

    .imagem-Minotauro, .imagem-Cerbero, .imagem-Elicius {
        position: relative;
        float: left;
    }

    .img-inimigo-Minotauro{
        width: 50vh;
        margin: 3rem 0rem;
    }

    .img-icon-Cerbero, .img-icon-Elicius{
        margin: 8rem 2rem;
    }

    .img-inimigo-Cerbero,
    .img-inimigo-Elicius {
        width: 60vh;
        margin: 6rem 0rem;
    }

    .nome-boss,
    .dificuldade-boss-Facil,
    .dificuldade-boss-Medio,
    .dificuldade-boss-Dificil,
    .botao-batalhar
    {
        margin-top: 2rem;
        margin-left: 3rem;
    }


    .texto-inimigo{
        float: left;
        display: block;
        margin-left: 2rem;
        text-align: left;
    }

    .botao-batalhar{
        margin-top: 1rem;
    }
}

@media screen and (min-width: 1300px) {

    .container-1 {
        height: auto;
    }


    .fundoBatalha {
        max-width: 100%;
        width: 195vh;
        height: 60vh;
    }

    .texto-apresentacao {
        margin: 14.5rem 25rem;
    }

    .container-2 {
        margin: 9rem 5.5rem;
    }


    .Minotauro, .Cerbero, .Elicius{
        height: 87vh;
        width: 90%;
        display: flex;
        align-items: flex-start;
        padding: 2rem;
    }


    .img-icon-Minotauro{
        margin: 6rem 2rem;
    }

    .imagem-Minotauro, .imagem-Cerbero, .imagem-Elicius {
        position: relative;
        float: left;
    }

    .img-inimigo-Minotauro{
        width: 50vh;
        margin: 3rem 0rem;
    }

    .img-icon-Cerbero, .img-icon-Elicius{
        margin: 8rem 2rem;
    }

    .img-inimigo-Cerbero,
    .img-inimigo-Elicius {
        width: 60vh;
        margin: 6rem 0rem;
    }

    .nome-boss,
    .dificuldade-boss-Facil,
    .dificuldade-boss-Medio,
    .dificuldade-boss-Dificil,
    .botao-batalhar
    {
        margin-top: 2rem;
        margin-left: 3rem;
    }


    .texto-inimigo{
        float: left;
        display: block;
        margin-left: 2rem;
        text-align: left;
    }

    .botao-batalhar{
        margin-top: 1rem;
    }
}


@media screen and (min-width: 1440px) {

    .container-1 {
        height: auto;
    }


    .fundoBatalha {
        max-width: 100%;
        width: 240vh;
    }

    .texto-apresentacao {
        text-align: center;
        width: auto;
        height: 100%;
        max-height: 40vh;
        margin: 12rem 30rem;
    }


    .Minotauro, .Cerbero, .Elicius{
        height: 90vh;
        padding: 2rem;
    }


    .img-icon-Minotauro{
        margin: 4rem 2rem;
        width: 25rem;
    }

    .imagem-Minotauro, .imagem-Cerbero, .imagem-Elicius {
        position: relative;
        float: left;
    }

    .img-inimigo-Minotauro{
        width: 60vh;
        margin: 0rem 4rem 2rem 1rem;
    }

    .img-icon-Cerbero, .img-icon-Elicius{
        margin: 2rem 2rem;
        width: 25rem;
    }

    .img-inimigo-Cerbero,
    .img-inimigo-Elicius {
        width: 70vh;
        margin: 3rem 0.7rem;
    }

    .nome-boss{
        font-size: 3rem;
    }

    button{
        width: 30%;
    }


    .texto-inimigo{
        float: left;
        display: block;
        margin-left: 2rem;
        text-align: left;
    }

    .botao-batalhar{
        margin-top: 1rem;
    }
}

@media screen and (min-width: 1600px) {

    .container-1 {
        width: 200vh;
        height: 65vh;
    }

    .container-1 button{
        font-size: 1.5rem;
    }

    .texto-apresentacao {
        height: 60vh;
        margin: 22rem 50vh;
    }

    .texto-apresentacao .titulo{
        font-size:4rem;
        margin-top: 2.5rem;
    }

    .texto-apresentacao .sub-titulo{
        font-size: 2.5rem;
    }

    .descricao{
        font-size: 1.5rem;
    }

    .container-2{
        margin-top: 12rem;
    }


    .Minotauro, .Cerbero, .Elicius{
        height: 90vh;
        padding: 2rem;
    }


    .img-icon-Minotauro{
        margin: 4rem 2rem;
        width: 40rem;
    }

    .imagem-Minotauro, .imagem-Cerbero, .imagem-Elicius {
        position: relative;
        float: left;
    }

    .img-inimigo-Minotauro{
        margin: 0rem 4rem 2rem 1rem;
    }

    .img-icon-Cerbero, .img-icon-Elicius{
        margin: 2rem 2rem;
        width: 40rem;
    }

    .img-inimigo-Cerbero,
    .img-inimigo-Elicius {
        margin: 3rem 0.7rem;
    }

    .nome-boss{
        margin-top: 7rem;
        font-size: 4rem;
    }

    .dificuldade-boss-Facil,
    .dificuldade-boss-Medio,
    .dificuldade-boss-Dificil
    {
        font-size: 2rem;
    }

    .texto-inimigo .descricao-boss {
        font-size: 2rem;
        max-width: 70%;
    }

    .texto-inimigo{
        float: left;
        display: block;
        margin-left: 2rem;
        text-align: left;
    }

    .botao-batalhar{
        margin-top: 1rem;
    }

    .container-2 button{
        width: 40%;
        font-size: 1.5rem;
    }
}