@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Macondo&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Macondo', cursive;
    background-color: #00001C;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Berkshire Swash', cursive;
}

li {
    list-style: none;
    margin-left: -2rem;
}

button {
    width: 45%;
    font-size: .8rem;
    border: 2px solid #000;
    color: #fff;
    background-color: #444;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}

button:hover{
    box-shadow: inset -4px 4px 0 #222;
    font-size: 1.1rem;
}

.container{
    background-color: aliceblue;
    border-radius: 1rem;
    width: auto;
    height: 85vh;
    padding: 2rem;
    margin: 1rem;
}

.nome{
    font-size: 2rem;
}

.titulo{
    margin: 0rem;
    padding: 0rem;
    font-size: 1.5rem;
    color:rgb(43, 180, 16);
}

.img-icon {
    position: absolute;
    width: 30vh;
    height: auto;
    z-index: 1;
    top: 12rem;
    left: 4rem;
    opacity: 70%;
}

img {
    width: 30vh;
    position: relative;
    z-index: 2;
    left: 1rem;
    top: -1rem;
}

/* Gladiadora Malvada e Heroica*/
.img-cadastro-42,
.img-cadastro-43 {
    width: 28vh;
    margin-top: .2rem;
}

/* Guerreiro Malvado e Heroico*/
.img-cadastro-40,
.img-cadastro-45 {
    width: 45vh;
    margin-left: -3rem;
}


.informacoes {
    width: auto;
}

.nome{
    font-size: 1rem;
}

.atributo {
    margin: 0rem;
    font-size: 1rem;
}

@media screen and (min-width: 375px) {
    .img-icon {
        top: 10rem;
        left: 6rem;
    }

    /* Mago Malvado e Heroico + Feiticeira Malvada e Heroica*/
    .img-cadastro-38,
    .img-cadastro-37,
    .img-cadastro-35,
    .img-cadastro-30 {
        left: 3rem;
    }

    .img-cadastro-35{
        margin-top: 1.5rem;
    }

    /* Gladiadora Malvada e Heroica*/
    .img-cadastro-42,
    .img-cadastro-43{
        margin-top: 1rem;
        margin-left: 2.5rem;
        width: 28vh;
    }

    /* Guerreiro Malvado e Heroico*/
    .img-cadastro-40,
    .img-cadastro-45{
        width: 43vh;
        margin-top: 1rem;
        margin-left: -2rem;
    }

    .nome{
        font-size: 1.5rem;
    }

    button{
        margin-top: .5rem;
    }
}

@media screen and (min-width: 425px) {
    .img-icon {
        top: 10rem;
        left: 8rem;
    }

    /* Mago Malvado e Heroico + Feiticeira Malvada e Heroica*/
    .img-cadastro-38,
    .img-cadastro-37,
    .img-cadastro-35,
    .img-cadastro-30 {
        left: 5rem;
    }

    /* Gladiadora Malvada e Heroica*/
    .img-cadastro-42,
    .img-cadastro-43{
        left: 3rem;
    }

    /* Guerreiro Malvado e Heroico*/
    .img-cadastro-40,
    .img-cadastro-45{
        margin-top: 1rem;
        margin-left: -1rem;
    }
}

@media screen and (min-width: 768px) {

    .container{
        height: 70vh;
        width: 100vh;
        margin: 2rem 6rem;
    }

    .titulo{
        font-size: 2rem;
    }

    .informacoes {
        display: block;
        width: auto;
        margin: 5rem;
        margin-top: 4rem;
    }

    li{
        display: flex;
    }

    .img-icon {
        width: 40vh;
        top: 14rem;
        left: 10rem;
    }

    /* Mago Malvado e Heroico + Feiticeira Malvada e Heroica*/
    .img-cadastro-38,
    .img-cadastro-37,
    .img-cadastro-35,
    .img-cadastro-30 {
        top: .1rem;
        width: 35vh;
        left: 3rem;
    }

    /* Gladiadora Malvada e Heroica*/
    .img-cadastro-42,
    .img-cadastro-43{
        left: 2rem;
        top: -1.5rem;
        width: 35vh;
    }

    /* Guerreiro Malvado e Heroico*/
    .img-cadastro-40,
    .img-cadastro-45{
        width: 45vh;
        margin-top: 3rem;
        margin-left: -1rem;
    }

    .nome{
        font-size: 2rem;
    }

    .atributo{
        font-size: 1.3rem;
    }

    button{
        width: 90%;
        margin-top: 1rem;
        font-size: 1.2rem;
    }

}


@media screen and (min-width: 1024px) {

    .container{
        height: 70vh;
        width: 120vh;
        margin: 2rem 9rem;
    }


    .img-icon {
        width: 40vh;
        top: 13rem;
        left: 13rem;
    }

    /* Mago Malvado */
    .img-cadastro-35{
        margin-top: 1rem;
    }

}

@media screen and (min-width: 1300px) {

    .container{
        height: 70vh;
        width: 120vh;
        margin: 2rem 15rem;
    }


    .img-icon {
        width: 40vh;
        top: 13rem;
        left: 19rem;
    }

    /* Mago Malvado */
    .img-cadastro-35{
        margin-top: 1rem;
    }

}

@media screen and (min-width: 1440px) {

    .container{
        width: 140vh;
        margin: 2rem 17rem;
    }


    .img-icon {
        width: 40vh;
        top: 13rem;
        left: 21rem;
    }

    .informacoes{
        margin-left: 6rem;
    }

    .nome{
        max-width: 75vh;
    }
}

@media screen and (min-width: 1600px) {

    .container{
        width: 110vh;
        margin: 5rem 25rem;
    }

    .img-icon {
        left: 30rem;
        top: 18rem;
    }

    .informacoes{
        margin-left: 8rem;
        margin-top: 10rem;
    }

    /* Feiticeira Malvada */
    .img-cadastro-37 {
        margin: 4rem 1rem 0rem 5rem;
    }

    /* Guerreiro Malvado e Heroico*/
    .img-cadastro-40,
    .img-cadastro-45{
        margin-top: 5.5rem;
    }

    button{
        width: 90%;
    }
}