<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="<http://www.thymeleaf.org>">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Batalha</title>

    <!-- Fontes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Macondo&display=swap" rel="stylesheet">

    <!-- Normalize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
          integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Nosso CSS -->
    <link rel="stylesheet" href="/css/batalha.css">

</head>
<body>
<!-- Nav do RPG -->
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="http://localhost:5000">RPG</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="http://localhost:5000">Inicio</a>
                    <a class="nav-link" href="http://localhost:5000/cadastro">Cadastro</a>
                    <a class="nav-link" href="http://localhost:5000/batalha">Batalha</a>
                </div>
            </div>
        </div>
    </nav>
</header>

<main class="container-principal">
    <section class="container-1">
        <h1 class="titulo">Batalhas</h1>
        <h3 class="sub-titulo">1 vs 1</h3>

        <p class="descricao">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, nisi iste ullam sequi
            natus, modi laudantium consequuntur nemo nostrum unde, deleniti quia libero repellat repellendus repudiandae
            maxime rem quas ipsum.</p>

        <a href="#" target="_blank">
            <button class="botao-batalhar-inimigos">Batalhar</button>
        </a>
    </section>

    <!-- Descrição de Cada Inimigo -->
    <section class="container-2">
        <h3 class="inimigos">Conheça seus Inimigos</h3>

        <div class="container-3">
            <div class="inimigo-1">
                <img class="img-icon-inimigo-1" src="/img/personagens/minotauroSimbolo.png"
                     alt="nomeDoSimboloDoInimigo">
                <img class="img-inimigo-1" src="/img/personagens/minotauro.png" alt="nomeDoInimigo">

                <h4 class="nome-inimigo">Minotauro</h4>
                <h5 class="dificuldade-inimigo-1">Dificuldade</h5>
                <h5 class="vida-inimigo-1">100 de HP</h5>

                <p class="descricao-inimigo-1">
                    Minotauro uma criatura vilanesca, corpo de homem e um touro é sua cabeça, por onde ele passa não há
                    paz, é melhor tomar cuidado com seu apetite voraz,
                    é melhor você escolher se quer sobreviver ou morrer.
                </p>

                <a href="#" target="_blank">
                    <button class="botao-batalhar-inimigos">Batalhar</button>
                </a>
            </div>
        </div>

        <div class="container-4">
            <div class="inimigo-2">
                <h4 class="nome-inimigo">Cérbero</h4>
                <h5 class="dificuldade-inimigo-2">Dificuldade</h5>
                <h5 class="vida-inimigo-2">120 de HP</h5>

                <p class="descricao-inimigo-2">
                    Para derrotar o mal, precisa lidar com um grande cão infernal, guardando uma enorme porteira onde
                    não se pode dar bobeira, Cérbero é o nome do cão malvado,
                    cuidado ou será devorado.
                </p>

                <img class="img-icon-inimigo-2" src="/img/personagens/cerberoSimbolo.png" alt="nomeDoSimboloDoInimigo">
                <img class="img-inimigo-2" src="/img/personagens/cerbero.png" alt="nomeDoInimigo">

                <a href="#" target="_blank">
                    <button class="botao-batalhar-inimigos">Batalhar</button>
                </a>
            </div>
        </div>

        <div class="container-5">
            <div class="inimigo-3">
                <img class="img-icon-inimigo-3" src="/img/personagens/dragaoSimbolo.png" alt="nomeDoSimboloDoInimigo">
                <img class="img-inimigo-3" src="/img/personagens/dragao.png" alt="nomeDoInimigo">

                <h4 class="nome-inimigo">Elicius</h4>
                <h5 class="dificuldade-inimigo-3">Dificuldade</h5>
                <h5 class="vida-inimigo-3">150 de HP</h5>

                <p class="descricao-inimigo-3">
                    Um dragão negro com raio e trovão, assustam a todos com sua imensidão, um monstro alado que
                    assusta a todos com seu rosnado, todos os conhecem como Elicius e se tiver sorte ele escutará
                    seus suplicios.
                </p>

                <a href="#" target="_blank">
                    <button class="botao-batalhar-inimigos">Batalhar</button>
                </a>
            </div>
        </div>
    </section>

</main>

<!-- Footer do RPG -->
<footer class="rodape">
    <div>
        <span>© 2023 Copyright: ManasCode</span>
        <a href="#">Larissa</a>
        <a href="#">Giulina</a>
        <a href="#">Silvana</a>
    </div>
</footer>
</body>
</html>