<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="<http://www.thymeleaf.org>">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RPG</title>

    <!-- Fontes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Macondo&display=swap" rel="stylesheet">

    <!-- Normalize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          crossorigin="anonymous">

    <!-- Nosso CSS -->
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<!-- Nav do RPG -->
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="http://localhost:5000">RPG</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="/">Inicio</a>
                    <a class="nav-link" href="/cadastro">Cadastro</a>
                    <a class="nav-link" href="/inimigos">Inimigos</a>
                    <a class="nav-link" href="/rodada">Batalha</a>
                </div>
            </div>
        </div>
    </nav>
</header>
<!-- Conteúdo Principal -->
<main>
    <section class="container-bemvindo">
        <div class="tx-principal">
            <h1><strong class="bemVindo"> Bem-vindo(a) ao Caminhos da Fantasia
                Lendas em conflito, uma aventura entre poções e espadas</strong></h1>
            <br><br><br>
            <div class="textoCapa">
                <p><strong class="titulo-tx">Explore um mundo cheios de aventuras e desafios.</strong> </p>

                <p class="texto">Escolha seu caminho como um mago habilidoso ou um gurreiro corajoso, ser malvado ou um honrado, para um caminho a trilhar e um enimigo a derrotar.</p>
            </div>
            <br><br>
            <a href="/cadastro"><button class="bt-criarP" type="button" >Criar personagem</button></a>
        </div>
    </section>
    <!-- INICIO DA SEGUNDA SEÇÃO -  SESÇÃO DE APRESENTAÇÃO DAS CLASSES/HABILIDADE DE PERSONAGEM -> MAGO -->
    <section class="container-mag">
        <div class="tx-mag">
            <div class="iconTx">
                <p class="tituloMag"><strong>Mago</strong></p>
                <!-- icone mago -->
                <img class="iconMag" src="/img/personagens/magoSimbolo.png" alt="Insígnia dos Magos">
            </div>
            <br>
            <!--IMAGENS REFERENTE AO MAGO   -->

            <img class="imgFeit" src="/img/personagens/feiticeiraHeroico.png" alt="Perssonagem - feiticeira Herico">

            <p class="descriMag"> No reino da magia,<br> seu cajado a brilhar, em missões a embarcar,
                Com feitiços e encantos, destemido a lutar. Nos livros da magia, seu nome é eterno, Com poderes épicos, ele é um ser supremo. <br><br> Nas batalhas místicas, ele é um líder brilhante, Um mago heroico, com poderes deslumbrantes. Nas páginas da história, sua lenda se vem, O herói da magia, para sempre, se aventura.</p>

            <img class="imgMag" src="/img/personagens/magoHeroico.png" alt="Perssonagem - Mago Herico">
        </div>
        <a href="/cadastro"><button class="bt-criarP2" type="button">Criar personagem</button></a><br>
    </section>
    <!-- INICIO DA TERCEIRA SEÇÃO -  SESÇÃO DE APRESENTAÇÃO DAS CLASSES/HABILIDADE DE PERSONAGEM -> GUERREIRO -->
    <section class="container-guerreiro">
        <div class="tx-guerr">
            <p class="tituloGuerr"><strong>Guerreiro</strong></p>
            <img class="iconGuerr" src="/img/personagens/guerreiroSimbolo.png" alt="Indígnia dos Grerreiros">
            <br>
            <!--IMAGENS REFERENTE AO GUERREIRO   -->

            <img class="imgGlad" src="/img/personagens/gladiadoraHeroico.png" alt="Perssonagem - Guerreiro Heroico">

            <p class="descriGuerr">Com a armadura reluzente, ele parte para a luta,
                O guerreiro heroico, com coragem absoluta.
                Em campos de batalha, sua bravura resplandece,
                Um guardião implacável, nunca se esquece. <br><br>
                Honra e dever, ele marcha sem medo,
                Em seu coração, a justiça é seu credo.
                Nas histórias e lendas, seu nome ecoará,
                O guerreiro heroico, para sempre brilhará.</p>

            <img class="imgGuerr" src="/img/personagens/guerreiroHeroico.png" alt="Perssonagem - Guerreiro Heroico">
        </div>
        <a href="/cadastro"><button class="bt-criarP2" type="button">Criar personagem</button></a> <br>
    </section>

    <section class="ladoMal">
        <div>
            <P class="titiloMalvado">"Ambas as habilidades, com poder deslumbrante,
                Têm um lado sombrio, que espreita adiante." <br>
            </P>
        </div>

    </section>

    <section class="container-malvado">

        <div>
            <P class="tx-malvado"><strong> Cabe a você escolher em qual lado ficar,
                Mago ou Guerreiro, na luz a brilhar ou no lado sombrio a caminhar.</strong></P>
        </div>
        <img class="malvado" src="/img/personagens/feiticeiraMalvado.png" alt="Perssonagem - Guerreiro Heroico">
        <img class="malvado" src="/img/personagens/magoMalvado.png" alt="Perssonagem - Guerreiro Heroico">
        <img class="malvado" src="/img/personagens/gladiadoraMalvado.png" alt="Perssonagem - Guerreiro Heroico">
        <img class="malvadoGuerr" src="/img/personagens/guerreiroMalvado.png" alt="Perssonagem - Guerreiro Heroico">

        <a href="/cadastro"><button class="bt-criarP3" type="button">Criar personagem</button></a> <br>
    </section>
</main>
<!-- Footer do RPG -->
<footer class="rodape">
    <div class="itens-grupo">
        <span class="copyright">© 2023 Copyright: ManasCode</span>
        <div class="links">
            <img src="/img/icones/github.svg">
            <a href="https://github.com/Giuliana09">Giulina |</a>
            <a href="https://github.com/LarissaSL">Larissa |</a>
            <a href="https://github.com/SilvanaMenezes">Silvana</a>
        </div>
    </div>
</footer>
</body>
</html>