<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Personagens</title>
</head>
<body>
<h1>Cadastro feito com Sucesso!</h1>

    <ul>
        <li>
            <h2 th:text="${personagem.nome}"></h2>
            <img th:src="${personagem.caminhoDaImg}" th:alt="${personagem.caminhoDaImg}" />
            <p th:text="'Vida: ' + ${personagem.vida}"></p>
            <p th:text="'Ataque: ' + ${personagem.atq}"></p>
            <p th:text="'Defesa: ' + ${personagem.def}"></p>
        </li>
    </ul>

    <a href="batalha">
        <button>Continuar</button>
    </a>
</body>
</html>
