<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Batalha</title>

    <!-- Fontes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Macondo&display=swap" rel="stylesheet">

    <!-- Normalize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Nosso CSS -->
    <link rel="stylesheet" href="/static/assets/css/batalha.css">

</head>
<body>

    <!-- Nav do RPG -->
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">RPG</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link" href="#">pg1</a>
                  <a class="nav-link" href="#">pg2</a>
                  <a class="nav-link" href="#">pg3</a>
                  <a class="nav-link" href="#">pg4</a>
                </div>
              </div>
            </div>
        </nav>
    </header>

    <main>
        <section class="container">
            <div class="textos">
                <p>Se você deseja batalhar, primeiro vai ter que se cadastrar, me diz aí o nome que vai usar,
                o personagens que vai escolher e qual personalidade ele deve ter.
                </p>
                <p>
                    Tem outro texto aqui (não lembro qual é, na imagem está um retângulo mais fino.)
                </p>
            </div>

            <div class="seletores">
                <div class="form-floating">
                    <input type="text" class="form-control" placeholder="Nome">
                    <label>Nome</label>
                </div>

                <select class="form-select">
                    <option selected>Selecione seu personagem</option>
                    <option value="1">Guerreiro(a)</option>
                    <option value="2">Mago(a)</option>
                </select>

                <select class="form-select">
                    <option selected>Selecione a personalidade</option>
                    <option value="1">Malvado(a)</option>
                    <option value="2">Honroso(a)</option>
                </select>
            </div>

            <div class="botoes">
                <button type="button" class="btn btn-primary btn-lg">Large button</button>
                <button type="button" class="btn btn-secondary btn-lg">Large button</button>
            </div>
        </section>
    </main>

    <!-- Footer do RPG -->
    <footer class="rodape">
        <div>
            <span>© 2023 Copyright: ManasCode</span>
            <a href="#">Larissa</a>
            <a href="#">Giulina</a>
            <a href="#">Silvana</a>
        </div>
    </footer>
</body>
</html>